body {
    background: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0 10ex 0 10ex;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#uploadContainer {
    height: 30ex;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 60ex;
}
#textContainer{
    height: 30ex;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 60ex;
}


input[type="file"] {
    background-color: #161b22;
    color: #c9d1d9;
    border: 1px solid #30363d;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: border-color 0.2s;
    width: 100%;
    max-width: 80ex;
}

textarea {
    width: 100%;
    max-width: 80ex;
    padding: 1rem;
    background-color: #161b22;
    color: #c9d1d9;
    border: 1px solid #30363d;
    border-radius: 0.5rem;
    resize: vertical;
}

input[type="file"]::file-selector-button {
    background: #000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn{
    background-color: #000;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}



.markdown-body {
    background: #161b22;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #30363d;
    overflow-x: auto;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    z-index: 0;
}

.loader {
    position: fixed;
    top: calc(50% - 60px - 16px);
    left: calc(50% - 60px - 16px);
    transform: translate(-50%, -50%);
    border: 16px solid #0d1117;
    border-top: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1;
    background: transparent;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#methodToggle {
    margin-bottom: 1rem;
    border: solid 1px white;
    border-radius: 1ex;
}

.active_method{
    background: #2b4363;
}

#result{
    margin-top: 5ex;
    margin-bottom: 5ex;
}