<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOLID Check</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Solid Check</h1>

    <div id="methodToggle">
        <button id="textMethodBtn" class="btn">Text</button>
        <button id="fileMethodBtn" class="btn active_method">File</button>
    </div>

    <div id="uploadContainer">
        <h3>Upload Your Code</h3>
        <input type="file" id="codefile">
    </div>

    <div id="textContainer">
        <h3>Enter Your Code</h3>
        <textarea id="codeInput" rows="10" placeholder="Paste your code here..."></textarea>
    </div>

    <button id="submitBtn" class="btn">Verify SOLID</button>
    <div id="result"></div>
</body>
</html>